/* GENERAL */
html,
body {
  font-family: Raleway, sans-serif;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexColumnAround {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flexColumnBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.decorationNone {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.borderNone {
  border: none;
}

.colorBlue {
  color: #0065fc;
}

.colorBlueClair {
  color: #deebff;
}

.colorGrey {
  color: #f2f2f2;
}

.backBlue {
  background-color: #0065fc;
}

.backBlueClair {
  background-color: #deebff;
}

.backGrey {
  background-color: #f2f2f2;
}

/* NAV */

.sizeNav {
  height: 100px;
}
.sizeLiens {
  width: 45%;
}

.sizeLien {
  width: 140px;
  height: 99px;
}

.colorLien2 {
  color: black;
}

.bordureNav {
  border-top: 1px solid transparent;
}

.bordureNav:hover {
  border-top: 1px solid #0065fc;
  cursor: pointer;
}

.margLogo {
  margin-bottom: 7px;
}

/* HEADER */

.borderSearch {
  width: 400px;
  border-radius: 10px;
  border: 0.5px solid #f2f2f2;
}

.paddingSearch {
  padding-left: 20px;
}

.search {
  height: 50px;
  width: 230px;
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.iconSize {
  height: 50px;
  width: 50px;
  border-radius: 10px 0 0 10px;
}

.buttonSearch {
  height: 50px;
  width: 120px;
  color: white;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}

/* FILTRES */

.margFilter {
  margin-top: 50px;
  margin-bottom: 40px;
}

.filter {
  display: flex;
  align-items: center;
}

.margFilterTitle {
  margin-right: 20px;
}

.filterTextIcons {
  border: 2px solid #f2f2f2;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
}

.filterTextIcons:hover > .filterText {
  color: #0065fc;
}

.filterTextIcons:hover > .filterIcons {
  color: white;
  background-color: #0065fc;
}

.filterText {
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0 25px 25px 0;
}

.filterIcons {
  margin-left: -2px;
  border-radius: 25px;
  width: 52px;
  height: 52px;
  color: #0065fc;
  background-color: #deebff;
}

/* INFO ICONE */

.info {
  display: flex;
  align-items: center;
}

.parentIcon {
  width: 20px;
  height: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  margin-right: 5px;
}

/* HEBERGEMENTS */

.sizeHebergements {
  flex: 2;
  height: 650px;
  margin-right: 20px;
  border-radius: 10px;
}

.sizePopulaires {
  flex: 1;
  height: 650px;
  margin-left: 20px;
  border-radius: 10px;
}

.blocHebergements {
  padding-left: 20px;
  padding-right: 20px;
}

.bloc1 {
  margin-bottom: 10px;
}

.bloc2 {
  margin-top: 10px;
}

.cubeHebergements {
  width: 30%;
  height: auto;
  background-color: white;
  padding: 1%;
  border-radius: 20px;
}

.cubeDetailsHebergements {
  width: 90%;
}

.imgHebergements1 {
  background-image: url("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
}

.imgHebergements2 {
  background-image: url("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
}

.imgHebergements3 {
  background-image: url("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
}

.imgHebergements4 {
  background-image: url("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
}

.imgHebergements5 {
  background-image: url("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
}

.imgHebergements6 {
  background-image: url("./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
}

/* POPULAIRES */

.blocPopulaires {
  padding-right: 20px;
  padding-left: 20px;
}

.blocPopulaires12 {
  margin-bottom: 20px;
}

.cubePopulaires {
  background-color: white;
  height: auto;
  padding: 1% 0 1% 1%;
  border-radius: 20px;
}

.cubeDetailsPopulaires {
  width: 60%;
  padding-left: 5%;
}

.imgPopulaires1 {
  background-image: url("./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 35%;
  height: 160px;
  border-radius: 15px 0 0 15px;
}

.imgPopulaires2 {
  background-image: url("./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 35%;
  height: 160px;
  border-radius: 15px 0 0 15px;
}

.imgPopulaires3 {
  background-image: url("./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 35%;
  height: 160px;
  border-radius: 15px 0 0 15px;
}

/* ACTIVITES */

.activites {
  margin-top: 50px;
  margin-bottom: 50px;
}

.blocActivites {
  width: 100%;
  height: 600px;
}

.blocActivites2356 {
  width: 23%;
  height: 600px;
}

/* REGLAGE BLOC */

.cubeActivites {
  width: 23%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.cubeActivites2356 {
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

/* FIN REGLEGE BLOC */

.heightTitle {
  height: 70px;
}

.titleActivite {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
  width: 95%;
}

.imgActivites1 {
  background-image: url("./images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 530px;
  border-radius: 15px 15px 0 0;
}

.imgActivites2 {
  background-image: url("./images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
  border-radius: 15px 15px 0 0;
}

.imgActivites3 {
  background-image: url("./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0 0;
}

.imgActivites4 {
  background-image: url("./images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 530px;
  border-radius: 15px 15px 0 0;
}

.imgActivites5 {
  background-image: url("./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
}

.imgActivites6 {
  background-image: url("./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
}

/* FOOTER */

.footer {
  height: 300px;
  margin-top: 100px;
}
.heightBlocFooter {
  height: 150px;
}

.margeBlocFooter1 {
  margin-left: 5%;
}

.margeBlocFooter3 {
  margin-right: 15%;
}
