/* GENERAL */
html,
body {
  font-family: Raleway, sans-serif;
  margin: 0;
}

.paddingLeft {
  padding-left: 3%;
}

.paddingRight {
  padding-right: 3%;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexColumnAround {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flexColumnBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.decorationNone {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.borderNone {
  border: none;
}

.colorBlue {
  color: #0065fc;
}

.colorBlueClair {
  color: #deebff;
}

.colorGrey {
  color: #f2f2f2;
}

.backBlue {
  background-color: #0065fc;
}

.backBlueClair {
  background-color: #deebff;
}

.backGrey {
  background-color: #f2f2f2;
}

/* HEADER */
/* NAV */

.sizeNav {
  height: auto;
}
.sizeLiens {
  width: 100%;
}

.sizeLien12 {
  margin-left: 70%;
}

.sizeLien {
  width: 140px;
  height: 99px;
}

.colorLien2 {
  color: black;
}

.bordureNav {
  border-top: 1px solid transparent;
}

.bordureNav:hover {
  border-top: 1px solid #0065fc;
  cursor: pointer;
}

.bordureNav:hover > a {
  color: #0065fc;
}

.margLogo {
  margin-bottom: 7px;
}

/* Barre recherche */

.desktopNone {
  display: none;
}

.borderSearch {
  width: 400px;
  border-radius: 10px;
  border: 0.5px solid #f2f2f2;
}

.paddingSearch {
  padding-left: 20px;
}

.search {
  height: 50px;
  width: 230px;
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.iconSize {
  height: 50px;
  width: 50px;
  border-radius: 10px 0 0 10px;
}

.buttonSearch {
  height: 50px;
  width: 120px;
  color: white;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}

.buttonSearch:hover {
  color: #0065fc;
  background-color: #f2f2f2;
}

/* FILTRES */

.margFilter {
  margin-top: 50px;
  margin-bottom: 40px;
}

.filter {
  display: flex;
  align-items: center;
}

.margFilterTitle {
  margin-right: 20px;
}

.filterTextIcons {
  border: 2px solid #f2f2f2;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
}

.filterTextIcons:hover > .filterText {
  color: #0065fc;
}

.filterTextIcons:hover > .filterIcons {
  color: white;
  background-color: #0065fc;
}

.filterText {
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0 25px 25px 0;
}

.filterIcons {
  margin-left: -2px;
  border-radius: 25px;
  width: 52px;
  height: 52px;
  color: #0065fc;
  background-color: #deebff;
}

/* INFO ICONE */

.info {
  display: flex;
  align-items: center;
}

.parentIcon {
  width: 20px;
  height: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  margin-right: 5px;
}

/* HEBERGEMENTS */

.sizeHebergements {
  flex: 2;
  height: 650px;
  margin-right: 20px;
  border-radius: 10px;
}

.sizePopulaires {
  flex: 1;
  height: 650px;
  margin-left: 20px;
  border-radius: 10px;
}

.blocHebergements {
  padding-left: 20px;
  padding-right: 20px;
}

.bloc1 {
  margin-bottom: 10px;
}

.bloc2 {
  margin-top: 10px;
}

.cubeHebergements {
  width: 30%;
  height: auto;
  background-color: white;
  padding: 1%;
  border-radius: 20px;
  /* rajout pour version mobile et desktop */
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.cubeHebergements:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.cubeDetailsHebergements {
  width: 90%;
}

.imgHebergements1 {
  object-fit: cover;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
}

.imgHebergements2 {
  object-fit: cover;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
}

.imgHebergements3 {
  object-fit: cover;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
}

.imgHebergements4 {
  object-fit: cover;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
}

.imgHebergements5 {
  object-fit: cover;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
}

.imgHebergements6 {
  object-fit: cover;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
}

/* POPULAIRES */

.blocPopulaires {
  padding-right: 20px;
  padding-left: 20px;
}

.blocPopulaires12 {
  margin-bottom: 20px;
}

.cubePopulaires {
  background-color: white;
  height: auto;
  padding: 1% 0 1% 1%;
  border-radius: 20px;
}

.cubePopulaires:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.cubeDetailsPopulaires {
  width: 60%;
  padding-left: 5%;
}

.imgPopulaires1 {
  object-fit: cover;
  width: 35%;
  height: 160px;
  border-radius: 15px 0 0 15px;
}

.imgPopulaires2 {
  object-fit: cover;
  width: 35%;
  height: 160px;
  border-radius: 15px 0 0 15px;
}

.imgPopulaires3 {
  object-fit: cover;
  width: 35%;
  height: 160px;
  border-radius: 15px 0 0 15px;
}

/* ACTIVITES */

.activites {
  margin-top: 50px;
  margin-bottom: 50px;
}

.blocActivites {
  width: 100%;
  height: 600px;
}

.blocActivites2356 {
  width: 23%;
  height: 600px;
}

/* REGLAGE BLOC */

.cubeActivites {
  width: 23%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.cubeActivites:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.cubeActivites2356 {
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.cubeActivites2356:hover {
  cursor: pointer;
  transform: scale(1.03);
}

/* FIN REGLAGE BLOC */

.heightTitle {
  height: 70px;
}

.titleActivite {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
  width: 95%;
}

.imgActivites1 {
  object-fit: cover;
  width: 100%;
  height: 530px;
  border-radius: 15px 15px 0 0;
}

.imgActivites2 {
  object-fit: cover;
  width: 100%;
  height: 250px;
  border-radius: 15px 15px 0 0;
}

.imgActivites3 {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0 0;
}

.imgActivites4 {
  object-fit: cover;
  width: 100%;
  height: 530px;
  border-radius: 15px 15px 0 0;
}

.imgActivites5 {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
}

.imgActivites6 {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
}

/* FOOTER */

.footer {
  height: 300px;
  margin-top: 100px;
}
.heightBlocFooter {
  height: 150px;
}

.margeBlocFooter1 {
  margin-left: 5%;
}

.margeBlocFooter3 {
  margin-right: 15%;
}

.lienFooter {
  color: black;
}

.divLienFooter {
  height: 30px;
}

/* RESPONSIVE */

@media screen and (max-width: 1500px) {
  .sizeLien12 {
    margin-left: 60%;
  }

@media screen and (max-width: 1295px) {
  .sizeLien12 {
    margin-left: 50%;
  }
  .cubeDetailsHebergements {
    min-height: 150px;
  }
  .sizeHebergements {
    min-height: auto;
    padding: 20px;
  }
  .sizePopulaires {
    min-height: auto;
    padding: 20px;
  }
  .tabletteSizeTitlePop {
    margin-top: 0;
  }
}

@media screen and (max-width: 990px) {
  .sizeLien12 {
    margin-left: 35%;
  }
  .mobileFilterWrap {
    flex-direction: column;
    align-items: flex-start;
  }
  .filterTextIcons {
    margin-bottom: 20px;
  }
  #hebergements {
    flex-direction: column-reverse;
    width: auto;
  }
  .blocPopulaires {
    flex: none;
    width: 90%;
    margin-left: 0;
    padding: 5%;
  }
  .blocHebergements {
    flex: none;
    width: 90%;
    margin-right: 0;
    margin-top: 50px;
    padding: 5%;
  }
}

@media screen and (max-width: 770px) {
  .sizeLiens {
    width: 90%;
  }
  .sizeLien12 {
    margin-left: 20%;
  }
  .blocHebergements {
    height: auto;
  }
  .bloc1 {
    flex-direction: column;
    margin-bottom: 0;
  }
  .bloc2 {
    flex-direction: column;
    margin-top: 0;
  }
  .cubeHebergements {
    width: 100%;
    margin-bottom: 50px;
  }
  .cubeDetailsHebergements {
    min-height: auto;
  }
  .blocActivites {
    flex-direction: column;
    height: auto;
  }
  .cubeActivites {
    width: 100%;
    margin-bottom: 50px;
  }
  .blocActivites2356 {
    width: 100%;
    height: auto;
  }
  .cubeActivites2356 {
    margin-bottom: 50px;
  }
  .imgActivites1,
  .imgActivites2,
  .imgActivites3,
  .imgActivites4,
  .imgActivites5,
  .imgActivites6 {
    height: 200px;
  }
  .footer {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding-left: 20px;
  }
  .margeBlocFooter1 {
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .sizeLien {
    flex-direction: row;
  }
  .sizeLien12 {
    order: 1;
    width: 100%;
    margin-left: 0;
  }
  .sizeLienMobile {
    width: 50%;
    border-top: 0;
    border-bottom: 5px solid #f2f2f2;
  }
  .sizeLiens {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .sizeLienMobile:hover {
    border-top: 0;
    border-bottom: 5px solid #0065fc;
  }
  /* .mobileTitleh1 {
    font-size: x-large;
  } */
  .borderSearch {
    width: auto;
    border: none;
  }
  .search {
    width: 200px;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
  }
  .buttonSearch {
    width: 50px;
    border-radius: 15px;
  }
  .desktopNone {
    display: block;
  }
  .mobileNone {
    display: none;
  }
  .margFilter {
    padding-left: 5%;
  }
  .mobileEconomiques {
    margin-right: 5px;
  }
  .mobileFamiliales {
    margin-right: 0;
  }
  .filterText {
    padding-left: 10px;
    padding-right: 10px;
  }
  .info {
    padding-left: 5%;
  }
  .blocPopulaires {
    border-radius: 0;
  }
  .blocHebergements {
    background-color: white;
  }
  .cubeHebergements {
    width: 99%;
  }
  .mobileTitlePara {
    padding-left: 5%;
  }
  .blocActivites {
    padding: 5%;
    width: 90%;
  }
  html,
  body {
    margin: 0;
    padding: 0;
  }
}