/* GENERAL */
html,
body {
  font-family: Raleway, sans-serif;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.decorationNone {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.borderNone {
  border: none;
}

.colorBlue {
  color: #0065fc;
}

.colorBlueClair {
  color: #deebff;
}

.colorGrey {
  color: #f2f2f2;
}

.backBlue {
  background-color: #0065fc;
}

.backBlueClair {
  background-color: #deebff;
}

.backGrey {
  background-color: #f2f2f2;
}

/* NAV */
.sizeNav {
  height: 100px;
}
.sizeLiens {
  width: 45%;
}

.sizeLien {
  width: 140px;
  height: 99px;
}

.colorLien2 {
  color: black;
}

.bordureNav {
  border-top: 1px solid blue;
}

.bordureNav23 {
  border-top: 1px solid transparent;
}

.margLogo {
  margin-bottom: 7px;
}

/* HEADER */

.borderSearch {
  width: 400px;
  border-radius: 10px;
  border: 0.5px solid #f2f2f2;
}

.paddingSearch {
  padding-left: 20px;
}

.search {
  height: 50px;
  width: 230px;
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.iconSize {
  height: 50px;
  width: 50px;
  border-radius: 10px 0 0 10px;
}

.buttonSearch {
  height: 50px;
  width: 120px;
  color: white;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}
